<div class="container">
  <div class="client_header">
      <button type="button" routerLink=''>Home</button>
      <strong> New Timesheet </strong>
  </div>
  <div id="client_body">
    <form>
      <div class="form-group">
        <label for="lawyer_code">Client Code</label>
        <input type="text" class="form-control" id="lawyer_code" placeholder="Enter Client Code">
      </div>
      <div class="form-group">
        <label for="lawyer_name">Matter Code</label>
        <input type="text" class="form-control" id="lawyer_name" placeholder="Enter Matter Code">
      </div>
      <div class="form-group">
        <label for="lawyer_name">Sequence Number</label>
        <input type="text" class="form-control" id="lawyer_name" placeholder="Enter Sequence Number">
      </div>
      <div class="form-group">
        <label for="lawyer_name">Date(DD/MM/YYYY)</label>
        <input type="text" class="form-control" id="lawyer_name" placeholder="Enter Date(DD/MM/YYYY)">
      </div>
      <div class="form-group">
        <label for="lawyer_name">Lawyer Code</label>
        <input type="text" class="form-control" id="lawyer_name" placeholder="Enter Lawyer Code">
      </div>
      <div class="form-group">
        <label for="lawyer_name">Number of Hours</label>
        <input type="text" class="form-control" id="lawyer_name" placeholder="Enter Number of Hours">
      </div>
      <div class="form-group">
        <label for="lawyer_name">Description</label>
        <input type="text" class="form-control" id="lawyer_name" placeholder="Enter Description">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
