<div class="container">

  <div class="client_header">
    <img src="/assets/back-arrow.png" width="90px"routerLink="">
    <h1> New Timesheet </h1>
  </div>

  <div id="timesheet_body">
    <form (submit)="onSubmit()" #newTimesheetForm="ngForm">

      <div class="form-group">
          <label  class="input_label" for="sequence_number">Sequence Number</label>
          <input
          type="text"
          class="form-control"
          id="sequence_number"
          value='{{sq_number}}'
          name="sq_number"
          disabled="true"
          [(ngModel)]="sq_number"
          >
          <label  class="input_label" for="sequence_number"></label>
      </div>
      <div class="form-group">
          <label  class="input_label" for="date_and_time">Date(DD/MM/YYYY)</label>
          <input
          type="date"
          class="form-control"
          id="date_and_time"
          name="date_and_time"
          [(ngModel)]="date_and_time"
          placeholder="Enter Date(DD/MM/YYYY)"
          #dateField="ngModel"
          required
          >
      </div>
      <div class="database_validation database_error" *ngIf="(dateField.touched || hoursField.touched) && dateField.errors">Required: Please enter the date</div>
      <div class="form-group">
          <label  class="input_label" for="hours">Number of Hours</label>
          <input
          type="text"
          class="form-control"
          id="hours"
          placeholder="Enter Number of Hours"
          name="hours"
          [(ngModel)]="hours"
          pattern="[0-9]+(\.?[0-9]?[0-9]?)"
          required
          #hoursField="ngModel"
          >
      </div>
      <div class="database_validation database_error" *ngIf="(hoursField.touched || hoursField.undifiened) && hoursField.errors">Should be a number!</div>



      <div class="form-group">
          <label  class="input_label" for="client_code">Client Code</label>
          <input
          type="text"
          name="client_code"
          class="form-control"
          id="client_code"
          (input)="onSearchChange_client($event.target.value)"
          placeholder="Enter Client Code"
          [(ngModel)]="client_code"
          #clientCodeField="ngModel"
          >
      </div>
      <div class="database_validation database_error" *ngIf="(client_result.valid == false)">Not a valid entry!</div>
      <div class="database_validation database_success" *ngIf="(client_result.valid == true)">{{client_result.value}}</div>




      <div class="form-group">
        <label  class="input_label" for="lawyer_code">Lawyer Code</label>
        <input
        type="text"
        name="lawyer_code"
        class="form-control"
        id="lawyer_code"
        (input)="onSearchChange_lawyer($event.target.value)"
        [(ngModel)]="lawyer_code"
        placeholder="Enter Lawyer Code">

      </div>
      <div class="database_validation database_error" *ngIf="(lawyer_result.valid == false)">Not a valid entry!</div>
      <div class="database_validation database_success" *ngIf="(lawyer_result.valid == true)">{{lawyer_result.value}}</div>

      <div class="form-group">
        <label  class="input_label" for="matter_code">Matter Code</label>
        <input
        type="text"
        name="matter_code"
        class="form-control"
        id="matter_code"
        (input)="onSearchChange_matter($event.target.value)"
        placeholder="Enter Matter Code"
        [(ngModel)]="matter_code"
        >

      </div>
      <div class="database_validation database_error" *ngIf="(matter_result.valid == false)">Not a valid entry!</div>
      <div class="database_validation database_success" *ngIf="(matter_result.valid == true)">{{matter_result.value}}</div>


      <div class="form-group" id="description_box">
        <label  class="input_label" id=description_label for="lawyer_name">Description</label>
        <textarea
        type="text"
        form="client_form"
        id="timesheet_description"
        name="timesheet_description"
        [(ngModel)]="timesheet_description"
        placeholder="Enter Description"
        rows="6"
        required
        #desField="ngModel"
        ></textarea>
      </div>
      <div class="database_validation database_error" *ngIf="(desField.touched || desField.undifiened) && desField.errors">Required: Please write your description</div>
      <div><button type="submit" class="btn btn-primary add_button">Add</button></div>
      <div class="database_validation database_error" *ngIf="(timeSheet_result.valid == false)">Incorrect inputs!</div>
      <div class="database_validation database_success" *ngIf="(timeSheet_result.valid == true)">Timesheet {{timeSheet_result.value}}!</div>
    </form>
  </div>
</div>
