<div class="container">
  <div class="card_list">
    <div class="card">
      <div class="card_header">
        <strong>{{input_title}}</strong>
        <button type="button" routerLink="/timesheet">New Timesheet</button>
        <button type="button" routerLink="/client">New Client</button>
        <button type="button" routerLink="/lawyer">New Lawyer</button>
        <button type="button" routerLink="/matter">New Matter</button>
       </div>
    </div>

    <div class="card">
      <div class="card_header">
        <strong>Edit</strong>
          <button type="button" routerLink="/edit_timesheet">Edit Timesheet</button>
          <button type="button" routerLink="/edit_client">Edit Client</button>
          <button type="button" routerLink="/edit_lawyer">Edit Lawyer</button>
          <button type="button" routerLink="/edit_matter">Edit Matter</button>
      </div>
    </div>

    <div class="card">
      <div class="card_header">
        <strong>Reports</strong>
        <button type="button">Reports</button>
        <button type="button">File Maintenance</button>
        <button type="button">Change Date</button>
      </div>
    </div>

    <div class="card">
      <div class="card_header">
        <strong>Date</strong>
        <button type="button">Date and Time</button>
      </div>
    </div>
  </div>
</div>
