<div class="container">
    <div class="matter_header">
        <img src="/assets/back-arrow.png" width="90px"routerLink="">
        <h1> New Matter </h1>
    </div>
    <div id="matter_body">
      <form (submit)="onSubmit()" #newMatterForm="ngForm" novalidate>

        <div class="form-group">
            <label class="input_label" for="matter_code">Matter's Code</label>

            <input type="text" name="matter_code" [(ngModel)]="matter_code" class="form-control" id="matter_code" placeholder="Enter Matter Code" required minlength="4" #matterCodeField="ngModel" [ngStyle]="{'outline-color': matterCodeField.dirty && matterCodeField.valid ?'green' : undifiened}">

            <div class="alert alert-danger" *ngIf="( matterCodeField.submit  || matterCodeField.touched) && matterCodeField.errors">
                <div class="alert-danger-text" [hidden]="!matterCodeField.errors.required">Matter code is required</div>
                <div class="alert-danger-text" [hidden]="!matterCodeField.errors.minlength">Matter code must be minimum of 4 characters long</div>
              </div>

        </div>


        <div class="form-group">
            <label class="input_label" for="matter_name">Matter's Name</label>

            <input type="text" name="matter_name" [(ngModel)]="matter_name"  class="form-control" id="matter_name" placeholder="Enter Matter Name" required minlength="4" #matterNameField="ngModel" [ngStyle]="{'outline-color': matterNameField.dirty && matterNameField.valid ? 'green' : undifiened}">

              <div class="alert alert-danger" *ngIf="( matterNameField.submit  || matterNameField.touched) && matterNameField.errors">
                  <div class="alert-danger-text" [hidden]="!matterNameField.errors.required">Matter name is required</div>
                  <div class="alert-danger-text" [hidden]="!matterNameField.errors.minlength">Matter name must be minimum of 4 characters long</div>
              </div>
        </div>

        <div class="button-group">
            <button type="submit" class="btn btn-primary add_button">Add</button>
        <div class="alert-danger-text" >{{submit_message}}</div>
        </div>
      </form>
    </div>
  </div>

