<div class="container">
  <div class="client_header">
      <button type="button" routerLink=''>Home</button>
      <strong> New Client </strong>
  </div>
  <div id="client_body">
    <form>
      <div class="form-group">
        <label for="client_code">Client's Code</label>
        <input type="text" class="form-control" id="client_code" placeholder="Enter Client Code">
      </div>
      <div class="form-group">
        <label for="client_name">Client's Name</label>
        <input type="text" class="form-control" id="client_name" placeholder="Enter Client Name">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
