<div class="container">
  <div class="client_header">
      <img src="/assets/back-arrow.png" width="90px"routerLink="">
      <h1> New Client </h1>
  </div>
  <div id="client_body">
    <form (submit)="onSubmit()" #newClientForm="ngForm" novalidate>

      <div class="form-group">
          <label class="input_label" for="client_code">Client's Code</label>

          <input
          type="text"
          name="client_code"
          [(ngModel)]="client_code"
          class="form-control"
          id="client_code"
          placeholder="Enter Client Code"
          required maxlength="4"
          #clientCodeField="ngModel"
          (input)="onSearchChange_client($event.target.value)"
          >
      </div>
      <div class="alert-danger-text" *ngIf="(clientCodeField.touched) && clientCodeField.errors">Invalid entry!</div>
      <div class="database_validation database_error" *ngIf="(client_result.valid == true)">{{client_result.value}} already exist!</div>


      <div class="form-group">
          <label class="input_label" for="client_name">Client's Name</label>

          <input
          type="text"
          name="client_name"
          [(ngModel)]="client_name"
          class="form-control"
          id="client_name"
          placeholder="Enter Client Name"
          required
          maxlength="50"
          #clientNameField="ngModel"
          >

      </div>
      <div class="database_validation database_error" *ngIf="( clientNameField.submit  || clientNameField.touched) && clientNameField.errors">
        <div class="database_validation database_error" [hidden]="!clientNameField.errors.required">Client name is required!</div>
      </div>

      <div class="button-group">
          <button type="submit" class="btn btn-primary add_button">Add</button>
      </div>
      <div class="database_validation database_error" *ngIf="submit_message['valid'] == false">{{submit_message.value}}!</div>
      <div class="database_validation database_success" *ngIf="submit_message['valid'] == true">Client {{submit_message.value}}!</div>
    </form>
  </div>
</div>
