<div class="container">
    <div class="lawyer_header">
        <img src="/assets/back-arrow.png" width="90px"routerLink="">
        <h1> New Lawyer </h1>
    </div>
    <div id="lawyer_body">
      <form (submit)="onSubmit()" #newLawyerForm="ngForm" novalidate>

        <div class="form-group">
            <label class="input_label" for="lawyer_code">Lawyer's Code</label>

            <input
            type="text"
            name="lawyer_code"
            [(ngModel)]="lawyer_code"
            class="form-control"
            id="lawyer_code"
            placeholder="Enter Lawyer Code"
            required maxlength="3"
            #lawyerCodeField="ngModel"
            (input)="onSearchChange_lawyer($event.target.value)"
            >

        </div>
        <div class="alert-danger-text" *ngIf="(lawyerCodeField.touched) && lawyerCodeField.errors">Invalid entry!</div>
        <div class="database_validation database_error" *ngIf="(lawyer_result.valid == true)">{{lawyer_result.value}} already exist!</div>

        <div class="form-group">
            <label class="input_label" for="lawyer_name">Lawyer's Name</label>

            <input
            type="text"
            name="lawyer_name"
            [(ngModel)]="lawyer_name"
            class="form-control"
            id="lawyer_name"
            placeholder="Enter Lawyer Name"
            required
            maxlength="50"
            #lawyerNameField="ngModel"
            >

        </div>

        <div class="alert alert-danger" *ngIf="( lawyerNameField.submit  || lawyerNameField.touched) && lawyerNameField.errors">
          <div class="database_validation database_error" [hidden]="!lawyerNameField.errors.required">Lawyer name is required</div>
        </div>

        <div class="button-group">
            <button type="submit" class="btn btn-primary add_button">Add</button>
        </div>
        <div class="database_validation database_error" *ngIf="submit_message['valid'] == false">{{submit_message.value}}!</div>
        <div class="database_validation database_success" *ngIf="submit_message['valid'] == true">Lawyer {{submit_message.value}}!</div>
      </form>
    </div>
  </div>
