<div class="container">
  <div class="matter_header">
      <button type="button" routerLink=''>Home</button>
      <strong> New Matter </strong>
  </div>
  <div id="matter_body">
    <form>
      <div class="form-group">
        <label for="matter_code">Matter Code</label>
        <input type="text" class="form-control" id="matter_code" placeholder="Enter Matter Code">
      </div>
      <div class="form-group">
        <label for="matter_name">Matter Name</label>
        <input type="text" class="form-control" id="matter_name" placeholder="Enter Matter Name">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
